<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="demo-head">
        <!--<title th:if="${pageTitle}" th:text="${pageTitle}">Wire Calculator</title>-->
        <title>Test Bind Model</title> 
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"/>
        <link href="../static/style.css" rel="stylesheet" th:href="@{css/style.css}" />
    </head>
    <body>

    </body>
</html>